.container {
    max-width: 90%;
    margin-left:5%;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;

  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .title {
    font-family: "Poppins", sans-serif; 
    font-size: 4rem; 
    font-weight: 600; 
    color: #21204c; 
    text-decoration: none; 
    
  }
  
  
  .subtitle {
    font-size: 1.1rem;
    color: #7655b7;
  }
  
  .emailPrompt {
    font-size: 1rem;
    color: #7655b7;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .label {
    font-size: 0.9rem;
    color: #555;
    font-weight: 500;
  }
  
  .input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .input:focus {
    outline: none;
    border-color:#21204c; 

    box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
  }
  
  .submitButton {
    padding: 0.8rem;
    background-color: #21204c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
  }
  
  .submitButton:hover {
    background-color: #0052a3;
  }
  .formcontainer{
    max-width: 40%;
  
    border-radius:8px ;
    padding: 3%;
    box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);


  }
  .textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
    font-family: inherit;
    font-size: inherit;
}